CAPI=2:

name : ::htfft{{suffix}}
description: An example using the HTFFT generator.

filesets:
  default:
    depend:
      - htfft_pkg
      - butterfly
      - memory
      - initial_memory
      - final_memory
      - htfft_gen

targets:
  default:
    generate : [htfft{{suffix}}_gen]
    toplevel : htfft{{suffix}}
    filesets: [default]

generate:
  htfft{{suffix}}_gen:
    generator : htfft_gen
    parameters:
      suffix: {{suffix}}
      n: {{n}}
      spcc: {{spcc}}
      input_width: {{input_width}}
      twiddle_width: {{twiddle_width}}
      pipelines:
        barrel_shifter: "{{pipelines.barrel_shifter}}"
        butterfly:
          mult_latency: {{pipelines.butterfly.mult_latency}}
          reg_i_p: {{pipelines.butterfly.reg_i_p}}
          reg_q_r: {{pipelines.butterfly.reg_q_r}}
          reg_r_s: {{pipelines.butterfly.reg_r_s}}
          reg_s_o: {{pipelines.butterfly.reg_s_o}}
        stage:
          reg_fromread_buffered: {{pipelines.stage.reg_fromread_buffered}}
          reg_buffered_tobutterfly: {{pipelines.stage.reg_buffered_tobutterfly}}
        reg_s_o: {{pipelines.reg_s_o}}
