CAPI=2:

name : ::stage_{{n}}{{suffix}}
description: A stage of the htfft module.

filesets:
  default:
    depend:
      - htfft_pkg
      - butterfly
      - memory
      - stage_gen

targets:
  default:
    generate : [stage_{{n}}{{suffix}}_gen]
    toplevel : stage_{{n}}{{suffix}}
    filesets: [default]

generate:
  stage_{{n}}{{suffix}}_gen:
    generator : stage_gen
    parameters:
      suffix: {{suffix}}
      n: {{n}}
      size: {{size}}
      width: {{width}}
      twiddle_width: {{twiddle_width}}
      pipelines:
        butterfly:
          mult_latency: {{pipelines.butterfly.mult_latency}}
          i_p: {{pipelines.butterfly.i_p}}
          q_r: {{pipelines.butterfly.q_r}}
          r_s: {{pipelines.butterfly.r_s}}
          s_o: {{pipelines.butterfly.s_o}}
        stage:
          reg_fromread_buffered: {{pipelines.stage.reg_fromread_buffered}}
          reg_buffered_tobutterfly: {{pipelines.stage.reg_buffered_tobutterfly}}
        reg_s_o: {{pipelines.reg_s_o}}
      make_pipeline_pkg: {{make_pipeline_pkg}}